div.alternativeCard{
  .card{
    width: 380px;
    border-radius: 0.5rem;
    box-shadow: 5px 6px 8px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    .content{
      display: flex;
      align-items: center;
      padding: 0.5em 1em !important;
      .feed{
        margin: 0;
        .event{
          .label{
            display: flex;
            width: 3.5em;
            align-items: center;
          }
          .content{
            margin-left: 0;
          }
        }
      }
    }
  }

}